<h1>Gestión Categorias</h1>
<!--
{{ categorias }} -->

<input type="text" name="nombre" [(ngModel)]="categoria.nombre">
<input type="text" name="detalle" [(ngModel)]="categoria.detalle">
<button (click)="funGuardarCategoria()">Guardar Categoria</button>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<button mat-raised-button
matTooltip="Info about the action"
aria-label="Button that displays a tooltip when focused or hovered over">
Action
</button>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>DETALLE</th>
      <th>ACCION</th>
    </tr>
  </thead>
  <tbody>
    @for (cat of categorias; track $index) {
    <tr>
      <td>{{ cat.id }}</td>
      <td>{{ cat.nombre }}</td>
      <td>{{ cat.detalle }}</td>
      <td>
        <button (click)="funEditarCategoria(cat)">editar</button>
        <button (click)="funEliminar(categoria)">eliminar</button>
      </td>
    </tr>
    }
  </tbody>
</table>




