<h1>Ingresar</h1>

<form [formGroup]="loginForm">
  <label for="">Ingrese su correo</label>
  <input type="email" formControlName="email">
  <br>
  <label for="">Ingrese su contraseña</label>
  <input type="password" formControlName="password">
  <br>

  <button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>

  <button mat-raised-button color="primary" matTooltip="Click para ingresar" (click)="funIngresar()" [disabled]="!loginForm.valid">Ingresar</button>
  <input type="button" value="Ingresar" (click)="funIngresar()" [disabled]="!loginForm.valid">
</form>
{{ loginForm.value|json }}
<h5>ES VALIDO: {{ loginForm.valid }}</h5>
